<html>
  <head>
    <title>Encounter Generator</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="DnD.js"></script>
  </head>
  <body ng-app="News" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ui-view></ui-view>
      </div>
    </div>
        <script type="text/ng-template" id="/home.html">
        <div class="page-header"> 
         <h1>Dungeons and Dragons</h1>
         <h3>Encounter Generator</h3>
    </div>

    <form ng-submit="generateEncounter()">
      <select ng-model="formDifficulty" ng-options="item for item in difficulties" ng-init="formDifficulty = difficulties[0]">        
      </select>
      <input type="number" ng-model="formPlayers" min="1" value=1 placeholder="Number of players"></input>
      <input type="number" ng-model="formAvgLvl" min="1" step=any value=1 placeholder="Average level"></input>
      <button type="submit">Generate</button>
    </form>
    <div ng-repeat="monster in monsters | orderBy: '-quantity'">
        <h4><a href="#/monster/{{monsters.indexOf(monster)}}">{{monster.quantity}} {{monster.name}}</a></h4>
    </div>
  </script>
  <script type="text/ng-template" id="/monster.html">
    <div class="page-header">
      <h3>
        <h2>{{monster.name}}</h2>
      </h3>
    </div>

    <div id="monsterData">
        <div id="stats">
            <div id="characteristics">
                <p>Strength: {{monster.strength|| "None"}}</p>
                <p>Dexterity: {{monster.dexterity|| "None"}}</p>
                <p>Constitution: {{monster.constitution|| "None"}}</p>
                <p>Intelligence: {{monster.intelligence|| "None"}}</p>
                <p>Wisdom: {{monster.wisdom|| "None"}}</p>
                <p>Charisma: {{monster.charisma|| "None"}}</p>
            </div>
            <div id="saves">
                <p>Constitution Save: {{monster.constitutionSave|| "None"}}</p>
                <p>Intelligence Save: {{monster.intelligenceSave|| "None"}}</p>
                <p>Wisdom Save: {{monster.wisdomSave|| "None"}}</p>
            </div>
        </div>
        <div id="stats">
            <div>
                <p>Size: {{monster.size || "None"}}</p>
                <p>Type: {{monster.type|| "None"}}</p>
                <p>Subtype: {{monster.subtype|| "None"}}</p>
                <p>Alignment: {{monster.alignment|| "None"}}</p>
            </div>
            <div>
                <p>Armor: {{monster.armor|| "None"}}</p>
                <p>Hit Points: {{monster.hitPoints|| "None"}}</p>
            </div>
            <p>Senses: {{monster.senses|| "None"}}</p>
            <p>Languages: {{monster.languages|| "None"}}</p>
        </div>
        <div ng-repeat="specialAbility in monster.specialAbilities">
           <p>Special Ability {{$index +1}}: {{specialAbility.desc|| "None"}}</p>
        </div>
        <div ng-repeat="action in monster.actions">
           <p> Action {{$index +1}}: {{action.desc|| "None"}} </p>
        </div>
        <div id="legendaryActions"></div>
        <div ng-repeat="legendaryAction in monster.legendaryActions">
               <p> Legendary Action {{$index +1}}: {{legendaryAction.desc|| "None"}}<p>
        </div>
    </div>
  </script>

  </body>
  </html>