<html>
  <head>
    <title>News</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="newDnD.js"></script>
  </head>
  <body ng-app="News" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ui-view></ui-view>
      </div>
    </div>
        <script type="text/ng-template" id="/home.html">
        <div class="page-header"> 
         <h1>News</h1>
    </div>

    <form ng-submit="generateEncounter()">
      <select ng-model="formDifficulty" ng-options="item for item in difficulties" ng-init="formDifficulty = difficulties[0]">        
      </select>
      <input type="text" ng-model="formPlayers"></input>
      <input type="text" ng-model="formAvgLvl"></input>
      <button type="submit">Generate</button>
    </form>
    <div>
        {{randomMonster}}
    </div>
    <div ng-repeat="monster in monsters | orderBy: '-quantity'">
        <a href="#/monster/{{monsters.indexOf(monster)}}">{{monster.quantity}} {{monster.name}}</a>
    </div>
  </script>
  <script type="text/ng-template" id="/monster.html">
    <div class="page-header">
      <h3>
          {{monster.name}}
      </h3>
    </div>

    <div id="monsterData">
        <h2>{{monster.name}}</h2>
        <div id="stats">
            <div id="characteristics">
                <p>{{monster.strength}}</p>
                <p>{{monster.dexterity}}</p>
                <p>{{monster.constitution}}</p>
                <p>{{monster.intelligence}}</p>
                <p>{{monster.wisdom}}</p>
                <p>{{monster.charisma}}</p>
            </div>
            <div id="saves">
                <p>{{monster.constitutionSave}}</p>
                <p>{{monster.intelligenceSave}}</p>
                <p>{{monster.wisdomSave}}</p>
            </div>
        </div>
        <div id="stats">
            <div>
                <p>{{monster.size}}</p>
                <p>{{monster.type}}</p>
                <p>{{monster.subType}}</p>
                <p>{{monster.alignment}}</p>
            </div>
            <div>
                <p>{{monster.armor}}</p>
                <p>{{monster.hitPoints}}</p>
            </div>
            <p>{{monster.senses}}</p>
            <p>{{monster.languages}}</p>
        </div>
        <div id="specialAbilities"></div>
        <div id="actions"></div>
        <div id="legendaryActions"></div>
    </div>
  </script>

  </body>
  </html>